<h1>All Albums</h1>

<% @albums.where(ep: true).each do |album| %>
  <h3><a href="/albums/<%= album.id %>"><%= album.title %> (<%= album.ep?%>) by <%= album.artist.name%></a></h3>
  <%= link_to "Update Album", "/albums/#{album.id}/edit" %>
  <%= link_to "Delete Album", "/albums/#{album.id}", data: {turbo_method: :delete} %>
  <p>Number of Songs: <%= album.number_of_songs%></p>
  <p>Year Released: <%= album.year_released%></p>
<% end %>