<h1><%= @artist.name %>'s Albums</h1>

<%= link_to "Sort Alphabetically", "/artists/#{@artist.id}/albums?sort=title"%><br>
<br>
<%= form_with url: "/artists/#{@artist.id}/albums", method: :get, data: {turbo: false} do |form| %>
  <%= form.label :threshold, "Only return albums released in this year or later:" %>
  <%= form.text_field :threshold %><br>
  <%= form.submit "Submit" %>
<% end %>
<br>
<%= form_with url: "/artists/#{@artist.id}/albums", method: :get, data: {turbo: false} do |form| %>
  <%= form.label :partial, "Search by Keyword (partial):" %>
  <%= form.text_field :partial %><br>
  <%= form.submit "Search (partial)" %>
<% end %>
<br>
<%= form_with url: "/artists/#{@artist.id}/albums", method: :get, data: {turbo: false} do |form| %>
  <%= form.label :exact, "Search by Keyword (exact):" %>
  <%= form.text_field :exact %><br>
  <%= form.submit "Search (exact)" %>
<% end %>

<% @albums.each do |album| %>
  <h3><a href="/albums/<%= album.id %>"><%= album.title %> (<%= album.ep?%>) by <%= album.artist.name%></a></h3>
  <p>Number of Songs: <%= album.number_of_songs%></p>
  <p>Year Released: <%= album.year_released%></p>
<% end %>
<%= link_to "Create Album", "/artists/#{@artist.id}/albums/new" %>