<h1><%= @artist.name %>'s Albums</h1>

<% @albums.each do |album| %>
  <h3><a href="/albums/<%= album.id %>"><%= album.title %> (<%= album.ep?%>) by <%= album.artist.name%></a></h3>
  <p>Number of Songs: <%= album.number_of_songs%></p>
  <p>Year Released: <%= album.year_released%></p>
<% end %>
<%= link_to "Create Album", "/artists/#{@artist.id}/albums/new" %>