<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "Home", "/"%>
      <%= link_to "Artists Index", "/artists"%>
      <%= link_to "Albums Index", "/albums"%>
    </header>
    <%= yield %>
  </body>
</html>
